USE [master]
GO
/****** Object:  Database [iot_management]    Script Date: 9/4/2025 9:59:26 AM ******/
CREATE DATABASE [iot_management]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [iot_management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [iot_management]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[action_type] [nvarchar](50) NULL,
	[table_name] [nvarchar](50) NULL,
	[request_content] [nvarchar](max) NULL,
	[action_time] [datetime] NULL,
	[old_data] [nvarchar](max) NULL,
	[new_data] [nvarchar](max) NULL,
	[ipaddress] [nvarchar](25) NULL,
	[user_agent] [nvarchar](500) NULL,
	[response_content] [nvarchar](max) NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[billings]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[billing_number] [nvarchar](50) NULL,
	[total] [decimal](18, 4) NULL,
	[subtotal] [decimal](18, 4) NULL,
	[tax_fee] [decimal](18, 4) NULL,
	[tax_percentage] [int] NULL,
	[status_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
	[region_id] [uniqueidentifier] NULL,
	[total_quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[device_details]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[device_details](
	[id] [uniqueidentifier] NOT NULL,
	[device_id] [uniqueidentifier] NULL,
	[firmware] [nvarchar](250) NULL,
	[manufacturer] [nvarchar](250) NULL,
	[manufacturer_date] [datetime] NULL,
	[model] [nvarchar](250) NULL,
	[supplier_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
	[up_time] [nvarchar](250) NULL,
	[serial] [nvarchar](250) NULL,
	[hardware] [nvarchar](250) NULL,
	[waranty] [datetime] NULL,
	[expired_date] [datetime] NULL,
	[sku] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[device_parameters]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[device_parameters](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[device_id] [uniqueidentifier] NULL,
	[co] [decimal](18, 4) NULL,
	[co2] [decimal](18, 4) NULL,
	[hcho] [decimal](18, 4) NULL,
	[lat] [decimal](18, 4) NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[device_sensors]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[device_sensors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[device_id] [uniqueidentifier] NULL,
	[state] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](500) NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[device_type]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[device_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](500) NULL,
	[status_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[devices]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[devices](
	[id] [uniqueidentifier] NOT NULL,
	[type_id] [int] NULL,
	[site_id] [uniqueidentifier] NULL,
	[name] [nvarchar](250) NULL,
	[description] [nvarchar](500) NULL,
	[status_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
	[type] [nvarchar](120) NULL,
	[region_id] [uniqueidentifier] NULL,
	[lat] [decimal](10, 8) NULL,
	[lng] [decimal](11, 8) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[group_role]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](500) NULL,
	[permission] [nvarchar](500) NULL,
	[level] [int] NULL,
	[access] [nvarchar](100) NULL,
	[status_id] [int] NULL,
	[parent_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[message_southtelecom]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message_southtelecom](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[from] [nvarchar](255) NOT NULL,
	[to] [nvarchar](255) NOT NULL,
	[type] [nchar](2) NOT NULL,
	[time] [datetime] NOT NULL,
	[delivery_time] [datetime] NOT NULL,
	[message_id] [nvarchar](255) NULL,
	[code_result] [nvarchar](255) NULL,
	[status] [int] NULL,
	[error_code] [int] NULL,
	[mnp] [int] NULL,
	[carrier] [nvarchar](20) NULL,
	[receivedts] [bigint] NULL,
	[deliveredts] [bigint] NULL,
	[user] [nvarchar](50) NULL,
	[last_updated] [datetime] NULL,
	[description] [nvarchar](1000) NULL,
	[content] [nvarchar](4000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification_access]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification_access](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[notification_id] [int] NULL,
	[user_id] [uniqueidentifier] NULL,
	[status_id] [int] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[type] [nvarchar](255) NULL,
	[content] [nvarchar](max) NULL,
	[user_id] [uniqueidentifier] NULL,
	[group_id] [int] NULL,
	[status_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[site_id] [uniqueidentifier] NULL,
	[region_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [nvarchar](50) NULL,
	[billing_id] [int] NULL,
	[quantity] [int] NULL,
	[total] [decimal](18, 4) NULL,
	[subtotal] [decimal](18, 4) NULL,
	[tax_fee] [decimal](18, 4) NULL,
	[tax_percentage] [int] NULL,
	[discount_total] [decimal](18, 4) NULL,
	[discount_percentage] [int] NULL,
	[user_id] [uniqueidentifier] NULL,
	[promote_codes] [nvarchar](max) NULL,
	[currency] [nvarchar](10) NULL,
	[fulfillment_status_id] [int] NULL,
	[status_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
	[payment_methods] [nvarchar](250) NULL,
	[origin] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[otp]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[otp] [nvarchar](10) NULL,
	[status_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partners]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partners](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](500) NULL,
	[description] [nvarchar](500) NULL,
	[address] [nvarchar](500) NULL,
	[country] [nvarchar](50) NULL,
	[phone_number] [nvarchar](12) NULL,
	[type] [nvarchar](50) NULL,
	[expired_date] [datetime] NULL,
	[status_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
	[from_date] [date] NULL,
	[site_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[region_access]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[region_access](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[region_id] [uniqueidentifier] NULL,
	[user_id] [uniqueidentifier] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regions]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regions](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](250) NULL,
	[description] [nvarchar](500) NULL,
	[address] [nvarchar](500) NULL,
	[lat_location] [nvarchar](50) NULL,
	[long_location] [nvarchar](50) NULL,
	[status_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[script_parse]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[script_parse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[assembly] [nvarchar](255) NULL,
	[classname] [nvarchar](255) NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[site_access]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[site_access](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[site_id] [uniqueidentifier] NULL,
	[user_id] [uniqueidentifier] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[site_details]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[site_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[site_id] [uniqueidentifier] NULL,
	[address] [nvarchar](1000) NULL,
	[lat_location] [nvarchar](250) NULL,
	[long_location] [nvarchar](250) NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
	[time_zone] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sites]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sites](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](250) NULL,
	[status_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
	[created_by] [int] NULL,
	[type] [int] NULL,
	[region_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](500) NULL,
	[type] [nvarchar](50) NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](500) NULL,
	[address] [nvarchar](500) NULL,
	[phone_number] [nvarchar](20) NULL,
	[email] [nvarchar](250) NULL,
	[type] [nvarchar](250) NULL,
	[status_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_config]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_config](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[key_conf] [nvarchar](500) NULL,
	[value] [nvarchar](500) NULL,
	[created_date] [datetime] NULL,
	[supplier_id] [int] NULL,
	[region_id] [uniqueidentifier] NULL,
	[site_id] [uniqueidentifier] NULL,
	[device_id] [uniqueidentifier] NULL,
	[partner_id] [int] NULL,
	[status_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_group]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NULL,
	[user_id] [uniqueidentifier] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_group_lv2]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_group_lv2](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[group_id_lv1] [int] NULL,
	[group_id_lv2] [int] NULL,
	[user_id] [uniqueidentifier] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_group_lv3]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_group_lv3](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[group_id_lv1] [int] NULL,
	[group_id_lv2] [int] NULL,
	[group_id_lv3] [int] NULL,
	[user_id] [uniqueidentifier] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
	[isRead] [bit] NULL,
	[isWrite] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_login_hist]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_login_hist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[access_token] [nvarchar](max) NULL,
	[type] [nvarchar](50) NULL,
	[login_count] [int] NULL,
	[last_time] [datetime] NULL,
	[access_time] [datetime] NULL,
	[ipaddress] [nvarchar](25) NULL,
	[user_agent] [nvarchar](500) NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_notifications]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[notification_id] [int] NOT NULL,
	[user_id] [nvarchar](255) NOT NULL,
	[is_read] [bit] NOT NULL,
	[read_at] [datetime2](3) NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
	[deleted_date] [datetime2](3) NULL,
 CONSTRAINT [PK_user_notifications] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_orders]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_orders](
	[id] [uniqueidentifier] NOT NULL,
	[fullname] [nvarchar](255) NULL,
	[phone_number] [nvarchar](20) NULL,
	[email] [nvarchar](500) NULL,
	[address] [nvarchar](500) NULL,
	[username] [nvarchar](250) NULL,
	[password] [nvarchar](250) NULL,
	[status_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[image_link] [nvarchar](500) NULL,
	[fullname] [nvarchar](500) NULL,
	[email] [nvarchar](500) NULL,
	[phone_number] [nvarchar](50) NULL,
	[citizen_id] [nvarchar](50) NULL,
	[gender] [nvarchar](10) NULL,
	[address] [nvarchar](255) NULL,
	[ward] [nvarchar](50) NULL,
	[district] [nvarchar](50) NULL,
	[province] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[postcode] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](255) NULL,
	[status_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warning]    Script Date: 9/4/2025 9:59:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warning](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[level] [int] NULL,
	[message] [nvarchar](500) NULL,
	[device_id] [uniqueidentifier] NULL,
	[time_warning] [datetime] NULL,
	[status_id] [int] NULL,
	[deleted_date] [datetime] NULL,
	[modified_date] [datetime] NULL,
	[created_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[audit_log] ON 

INSERT [dbo].[audit_log] ([id], [user_id], [action_type], [table_name], [request_content], [action_time], [old_data], [new_data], [ipaddress], [user_agent], [response_content], [created_date]) VALUES (1, NULL, N'login_admin', N'users', N'{}', CAST(N'2025-08-06T15:45:35.000' AS DateTime), NULL, NULL, N'::1', N'PostmanRuntime/7.45.0', N'"Yêu cầu không hợp lệ"', CAST(N'2025-08-06T15:45:35.810' AS DateTime))
INSERT [dbo].[audit_log] ([id], [user_id], [action_type], [table_name], [request_content], [action_time], [old_data], [new_data], [ipaddress], [user_agent], [response_content], [created_date]) VALUES (2, NULL, N'login_admin', N'users', N'{}', CAST(N'2025-08-06T15:46:41.000' AS DateTime), NULL, NULL, N'::1', N'PostmanRuntime/7.45.0', N'"Yêu cầu không hợp lệ"', CAST(N'2025-08-06T15:46:41.140' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[audit_log] OFF
GO
SET IDENTITY_INSERT [dbo].[group_role] ON 

INSERT [dbo].[group_role] ([id], [title], [description], [permission], [level], [access], [status_id], [parent_id], [deleted_date], [modified_date], [created_date]) VALUES (1, N'Admin', N'Admin', N'["admin_get","admin_sync"]', 1, NULL, 1, NULL, NULL, NULL, CAST(N'2024-11-23T15:07:20.117' AS DateTime))
INSERT [dbo].[group_role] ([id], [title], [description], [permission], [level], [access], [status_id], [parent_id], [deleted_date], [modified_date], [created_date]) VALUES (2, N'User', N'User', N'["user_get", "user_sync"]', 1, NULL, 1, NULL, NULL, NULL, CAST(N'2024-11-23T15:07:20.117' AS DateTime))
INSERT [dbo].[group_role] ([id], [title], [description], [permission], [level], [access], [status_id], [parent_id], [deleted_date], [modified_date], [created_date]) VALUES (3, N'Super Admin', N'Super Admin', N'["super_admin_get","super_admin_sync"]', 1, NULL, 1, NULL, NULL, NULL, CAST(N'2024-12-09T09:17:11.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[group_role] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [title], [type], [content], [user_id], [group_id], [status_id], [deleted_date], [modified_date], [created_date]) VALUES (3, N'Tạo thông báo mới', N'info', N'Đây là mẫu thông báo dành cho mục đích testing', NULL, 1, 1, CAST(N'2025-08-20T15:08:35.000' AS DateTime), NULL, NULL)
INSERT [dbo].[notifications] ([id], [title], [type], [content], [user_id], [group_id], [status_id], [deleted_date], [modified_date], [created_date]) VALUES (4, N'Tạo thông báo mới', N'info', N'Đây là mẫu thông báo dành cho mục đích testing', NULL, 2, 1, CAST(N'2025-08-20T15:08:37.000' AS DateTime), NULL, NULL)
INSERT [dbo].[notifications] ([id], [title], [type], [content], [user_id], [group_id], [status_id], [deleted_date], [modified_date], [created_date]) VALUES (5, N'anduy0508@gmail.com', N'info', N'Them noi dung thong bao ', NULL, 1, 1, CAST(N'2025-08-22T13:19:48.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[region_access] ON 

INSERT [dbo].[region_access] ([id], [region_id], [user_id], [created_date]) VALUES (1, N'9dcc0798-75f8-4a0a-9f0f-c3bd1f7a7467', N'716af1d2-5f32-492d-a26e-eb2e4670fb51', CAST(N'2025-03-26T12:02:58.840' AS DateTime))
INSERT [dbo].[region_access] ([id], [region_id], [user_id], [created_date]) VALUES (2, N'c32c952d-14aa-4f5a-ac2d-0678045c4bab', N'e654403a-d191-4305-a68b-055b1247a2b8', CAST(N'2025-08-13T14:46:11.800' AS DateTime))
SET IDENTITY_INSERT [dbo].[region_access] OFF
GO
INSERT [dbo].[regions] ([id], [name], [description], [address], [lat_location], [long_location], [status_id], [deleted_date], [modified_date], [created_date]) VALUES (N'c32c952d-14aa-4f5a-ac2d-0678045c4bab', N'Test Vườn Lài', N'', N'614 Điện Biên phủ', N'', N'', 1, NULL, NULL, CAST(N'2025-08-13T11:36:09.980' AS DateTime))
INSERT [dbo].[regions] ([id], [name], [description], [address], [lat_location], [long_location], [status_id], [deleted_date], [modified_date], [created_date]) VALUES (N'b3ff2fb1-9206-4a7b-bd98-9fc67c5f4d08', N'Test', N'', N'123111', N'', N'', 1, NULL, NULL, CAST(N'2025-08-13T11:41:56.987' AS DateTime))
INSERT [dbo].[regions] ([id], [name], [description], [address], [lat_location], [long_location], [status_id], [deleted_date], [modified_date], [created_date]) VALUES (N'9dcc0798-75f8-4a0a-9f0f-c3bd1f7a7467', N'System', N'System Admin', NULL, NULL, NULL, 1, NULL, NULL, CAST(N'2025-03-26T10:02:06.637' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[site_access] ON 

INSERT [dbo].[site_access] ([id], [site_id], [user_id], [deleted_date], [modified_date], [created_date]) VALUES (1, N'cc417c14-856c-4e88-a9a5-115e17cf1717', N'716af1d2-5f32-492d-a26e-eb2e4670fb51', NULL, NULL, CAST(N'2024-12-09T14:57:18.257' AS DateTime))
INSERT [dbo].[site_access] ([id], [site_id], [user_id], [deleted_date], [modified_date], [created_date]) VALUES (2, N'928dedfb-0a45-46e1-9de5-24cad4eb2bf9', N'fc277032-2f8b-43ec-9001-64a9b612509f', NULL, NULL, CAST(N'2025-08-13T14:26:00.817' AS DateTime))
INSERT [dbo].[site_access] ([id], [site_id], [user_id], [deleted_date], [modified_date], [created_date]) VALUES (3, N'928dedfb-0a45-46e1-9de5-24cad4eb2bf9', N'f8cbeb52-4664-4b59-a57e-f73fcd4e2e26', NULL, NULL, CAST(N'2025-08-13T14:29:33.207' AS DateTime))
SET IDENTITY_INSERT [dbo].[site_access] OFF
GO
SET IDENTITY_INSERT [dbo].[site_details] ON 

INSERT [dbo].[site_details] ([id], [site_id], [address], [lat_location], [long_location], [deleted_date], [modified_date], [created_date], [time_zone]) VALUES (1, N'cc417c14-856c-4e88-a9a5-115e17cf1717', N'System', NULL, NULL, NULL, NULL, CAST(N'2024-12-09T14:55:59.913' AS DateTime), NULL)
INSERT [dbo].[site_details] ([id], [site_id], [address], [lat_location], [long_location], [deleted_date], [modified_date], [created_date], [time_zone]) VALUES (2, N'928dedfb-0a45-46e1-9de5-24cad4eb2bf9', N'614 Điện Biên Phủ', N'10.7706845', N'106.6768261', NULL, NULL, CAST(N'2025-08-13T14:08:26.320' AS DateTime), N'Asia/Bangkok')
SET IDENTITY_INSERT [dbo].[site_details] OFF
GO
INSERT [dbo].[sites] ([id], [name], [status_id], [deleted_date], [modified_date], [created_date], [created_by], [type], [region_id]) VALUES (N'cc417c14-856c-4e88-a9a5-115e17cf1717', N'System', 1, NULL, NULL, CAST(N'2024-12-09T14:54:49.627' AS DateTime), NULL, NULL, N'9dcc0798-75f8-4a0a-9f0f-c3bd1f7a7467')
INSERT [dbo].[sites] ([id], [name], [status_id], [deleted_date], [modified_date], [created_date], [created_by], [type], [region_id]) VALUES (N'928dedfb-0a45-46e1-9de5-24cad4eb2bf9', N'Chung cư A', 1, NULL, NULL, CAST(N'2025-08-13T14:08:26.190' AS DateTime), NULL, NULL, N'c32c952d-14aa-4f5a-ac2d-0678045c4bab')
GO
SET IDENTITY_INSERT [dbo].[status] ON 

INSERT [dbo].[status] ([id], [code], [name], [description], [type], [deleted_date], [modified_date], [created_date]) VALUES (1, N'online', N'Online', N'Hoạt động', N'general', NULL, NULL, CAST(N'2024-11-23T15:00:41.557' AS DateTime))
INSERT [dbo].[status] ([id], [code], [name], [description], [type], [deleted_date], [modified_date], [created_date]) VALUES (2, N'offline', N'Offline', N'Không Hoạt động', N'general', NULL, NULL, CAST(N'2024-11-23T15:00:41.557' AS DateTime))
INSERT [dbo].[status] ([id], [code], [name], [description], [type], [deleted_date], [modified_date], [created_date]) VALUES (4, N'login_success', N'Login Success', N'Đăng nhập Wifi thành công', N'login_wifi', NULL, NULL, CAST(N'2024-11-23T15:34:26.533' AS DateTime))
SET IDENTITY_INSERT [dbo].[status] OFF
GO
SET IDENTITY_INSERT [dbo].[user_group] ON 

INSERT [dbo].[user_group] ([id], [group_id], [user_id], [deleted_date], [modified_date], [created_date]) VALUES (3, 1, N'716af1d2-5f32-492d-a26e-eb2e4670fb51', NULL, NULL, CAST(N'2024-12-09T14:44:37.250' AS DateTime))
INSERT [dbo].[user_group] ([id], [group_id], [user_id], [deleted_date], [modified_date], [created_date]) VALUES (4, 1, N'fc277032-2f8b-43ec-9001-64a9b612509f', NULL, NULL, CAST(N'2025-08-13T14:26:00.817' AS DateTime))
INSERT [dbo].[user_group] ([id], [group_id], [user_id], [deleted_date], [modified_date], [created_date]) VALUES (5, 1, N'f8cbeb52-4664-4b59-a57e-f73fcd4e2e26', NULL, NULL, CAST(N'2025-08-13T14:29:33.207' AS DateTime))
SET IDENTITY_INSERT [dbo].[user_group] OFF
GO
INSERT [dbo].[users] ([id], [image_link], [fullname], [email], [phone_number], [citizen_id], [gender], [address], [ward], [district], [province], [country], [postcode], [username], [password], [status_id], [deleted_date], [modified_date], [created_date]) VALUES (N'e654403a-d191-4305-a68b-055b1247a2b8', NULL, N'Duy test', N'duy@mail.com', N'0901418011', N'', N'', N'614 Điện Biên Phủ', N'Vườn Lài', NULL, N'Hồ Chí Minh', N'Việt Nam', N'700000', N'test.duy', N'$2b$10$XqSHxTLaNRsGZRcl.2jmpOuF9nKrNM7tHPTb4UowCV0QtJg8puzpC', 1, NULL, NULL, CAST(N'2025-08-13T14:46:11.563' AS DateTime))
INSERT [dbo].[users] ([id], [image_link], [fullname], [email], [phone_number], [citizen_id], [gender], [address], [ward], [district], [province], [country], [postcode], [username], [password], [status_id], [deleted_date], [modified_date], [created_date]) VALUES (N'fc277032-2f8b-43ec-9001-64a9b612509f', NULL, N'Test User', N'napoleon3004@gmail.com', N'0901418055', N'', N'', N'614 Điện Biên Phủ', N'Vườn Lài', NULL, N'Hồ Chí Minh', N'Việt Nam', N'700000', N'test.user1', N'$2b$10$EoXg6Ut0cVr9LBVthjvfOOdwXBtvCOYp4XlWv9/xVwCQao16y6ecm', 1, NULL, NULL, CAST(N'2025-08-13T14:26:00.630' AS DateTime))
INSERT [dbo].[users] ([id], [image_link], [fullname], [email], [phone_number], [citizen_id], [gender], [address], [ward], [district], [province], [country], [postcode], [username], [password], [status_id], [deleted_date], [modified_date], [created_date]) VALUES (N'716af1d2-5f32-492d-a26e-eb2e4670fb51', NULL, N'admin', N'nam.nguyen-hoang@vtctelecom.com.vn', N'0901418053', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'admin', N'$2b$10$u/88OgKjBJsQu976nWLN3uTHIXPl8sbhRpbFd2yZNx77Xce9ROZcm', 1, NULL, NULL, CAST(N'2024-11-25T09:29:10.783' AS DateTime))
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[billings] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[device_details] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[device_details] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[device_parameters] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[device_sensors] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[device_type] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[devices] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[devices] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[group_role] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[notification_access] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[otp] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[partners] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[region_access] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[regions] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[regions] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[script_parse] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[site_access] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[site_details] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[sites] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[sites] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[status] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[sys_config] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[user_group] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[user_group_lv2] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[user_group_lv3] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[user_login_hist] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[user_notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[user_notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_notifications] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user_orders] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[user_orders] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[warning] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[billings]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[billings]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[billings]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[billings]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[billings]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[billings]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[billings]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[billings]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[device_details]  WITH CHECK ADD FOREIGN KEY([device_id])
REFERENCES [dbo].[devices] ([id])
GO
ALTER TABLE [dbo].[device_details]  WITH CHECK ADD FOREIGN KEY([device_id])
REFERENCES [dbo].[devices] ([id])
GO
ALTER TABLE [dbo].[device_details]  WITH CHECK ADD FOREIGN KEY([device_id])
REFERENCES [dbo].[devices] ([id])
GO
ALTER TABLE [dbo].[device_details]  WITH CHECK ADD FOREIGN KEY([device_id])
REFERENCES [dbo].[devices] ([id])
GO
ALTER TABLE [dbo].[device_details]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([id])
GO
ALTER TABLE [dbo].[device_details]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([id])
GO
ALTER TABLE [dbo].[device_details]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([id])
GO
ALTER TABLE [dbo].[device_details]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([id])
GO
ALTER TABLE [dbo].[device_parameters]  WITH CHECK ADD FOREIGN KEY([device_id])
REFERENCES [dbo].[devices] ([id])
GO
ALTER TABLE [dbo].[device_sensors]  WITH CHECK ADD FOREIGN KEY([device_id])
REFERENCES [dbo].[devices] ([id])
GO
ALTER TABLE [dbo].[device_type]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[device_type]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[device_type]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[device_type]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([type_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([type_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([type_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[devices]  WITH CHECK ADD FOREIGN KEY([type_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[group_role]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[group_role]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[group_role]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[group_role]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[group_role]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[group_role]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[group_role]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[group_role]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[notification_access]  WITH CHECK ADD FOREIGN KEY([notification_id])
REFERENCES [dbo].[notifications] ([id])
GO
ALTER TABLE [dbo].[notification_access]  WITH CHECK ADD FOREIGN KEY([notification_id])
REFERENCES [dbo].[notifications] ([id])
GO
ALTER TABLE [dbo].[notification_access]  WITH CHECK ADD FOREIGN KEY([notification_id])
REFERENCES [dbo].[notifications] ([id])
GO
ALTER TABLE [dbo].[notification_access]  WITH CHECK ADD FOREIGN KEY([notification_id])
REFERENCES [dbo].[notifications] ([id])
GO
ALTER TABLE [dbo].[notification_access]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[notification_access]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[notification_access]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[notification_access]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[notification_access]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notification_access]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notification_access]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notification_access]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([billing_id])
REFERENCES [dbo].[billings] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([billing_id])
REFERENCES [dbo].[billings] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([billing_id])
REFERENCES [dbo].[billings] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([billing_id])
REFERENCES [dbo].[billings] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([fulfillment_status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([fulfillment_status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([fulfillment_status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([fulfillment_status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user_orders] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user_orders] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user_orders] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user_orders] ([id])
GO
ALTER TABLE [dbo].[otp]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[otp]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[otp]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[otp]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[partners]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[partners]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[partners]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[partners]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[partners]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[partners]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[partners]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[partners]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[region_access]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[region_access]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[region_access]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[region_access]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[region_access]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[region_access]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[region_access]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[region_access]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[regions]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[regions]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[regions]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[regions]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[site_access]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[site_access]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[site_access]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[site_access]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[site_access]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[site_access]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[site_access]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[site_access]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[site_details]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[site_details]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[site_details]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[site_details]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[sites]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[suppliers]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[suppliers]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[suppliers]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[suppliers]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([device_id])
REFERENCES [dbo].[devices] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([device_id])
REFERENCES [dbo].[devices] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([device_id])
REFERENCES [dbo].[devices] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([device_id])
REFERENCES [dbo].[devices] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([partner_id])
REFERENCES [dbo].[partners] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([partner_id])
REFERENCES [dbo].[partners] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([partner_id])
REFERENCES [dbo].[partners] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([partner_id])
REFERENCES [dbo].[partners] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([site_id])
REFERENCES [dbo].[sites] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([id])
GO
ALTER TABLE [dbo].[sys_config]  WITH CHECK ADD FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([id])
GO
ALTER TABLE [dbo].[user_group]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_group]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_group]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_group]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_group_lv2]  WITH CHECK ADD FOREIGN KEY([group_id_lv1])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv2]  WITH CHECK ADD FOREIGN KEY([group_id_lv2])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv2]  WITH CHECK ADD FOREIGN KEY([group_id_lv1])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv2]  WITH CHECK ADD FOREIGN KEY([group_id_lv2])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv2]  WITH CHECK ADD FOREIGN KEY([group_id_lv1])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv2]  WITH CHECK ADD FOREIGN KEY([group_id_lv2])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv2]  WITH CHECK ADD FOREIGN KEY([group_id_lv1])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv2]  WITH CHECK ADD FOREIGN KEY([group_id_lv2])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv2]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_group_lv2]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_group_lv2]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_group_lv2]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([group_id_lv1])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([group_id_lv2])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([group_id_lv3])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([group_id_lv1])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([group_id_lv2])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([group_id_lv3])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([group_id_lv1])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([group_id_lv2])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([group_id_lv3])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([group_id_lv1])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([group_id_lv2])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([group_id_lv3])
REFERENCES [dbo].[group_role] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_group_lv3]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_login_hist]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_login_hist]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_login_hist]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_login_hist]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_notifications]  WITH CHECK ADD  CONSTRAINT [FK_user_notifications_notifications] FOREIGN KEY([notification_id])
REFERENCES [dbo].[notifications] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_notifications] CHECK CONSTRAINT [FK_user_notifications_notifications]
GO
ALTER TABLE [dbo].[user_orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[user_orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[user_orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[user_orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[warning]  WITH CHECK ADD FOREIGN KEY([device_id])
REFERENCES [dbo].[devices] ([id])
GO
ALTER TABLE [dbo].[warning]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
USE [master]
GO
